/* Geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.Header {
    font-size: 24px;
    color: #004266;
}

/* Estrutura principal */
.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.Header {
    padding: 20px;
    width: 100%;
    text-align: center;
    background-color: #004266;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Disciplines-Container {
    width: 90%;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.Disciplines {
    width: 100%;
}

.Itens {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

.Itens li {
    list-style: none;
}

.disc-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #004266;
    color: #fff;
    padding: 15px;
    border-radius: 12px;
    font-size: 2.5vh;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.disc-link:hover {
    background-color: #005D8F;
    transform: scale(1.05);
}

i {
    font-size: 30px;
    margin-top: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
    .Container {
        padding: 10px;
    }

    .Header, .Disciplines-Container {
        width: 100%;
        margin: 0;
    }

    .Itens {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }

    .disc-link {
        font-size: 1rem;
        padding: 10px;
    }
}
