.Header{
    padding: 20px;
    width: 100%;
    text-align: center;
}

.Disciplines-Container{
    width: 90%;
    padding: 20px, 20px, 50px, 20px;
    margin-top: 20px;
    position: relative;
    margin-left: 30px;
}

.Itens{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
    flex-direction: column;
    list-style-type: none;
}

a{
    text-decoration: none;
    background-color: #004266;
    color: #fff;
    padding: 23px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    font-size: 2.5vh;
}

a:hover {
    background-color: #005D8F;
}
