body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.grades-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.Header-grades {
  font-size: 24px;
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: #004266;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-students-grades {
  width: 100%;
  max-width: 1200px;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-students-grades h1 {
  color: #000000;
  margin: 20px;
}

.students-list {
  max-height: 300px;
  overflow-y: auto;
}

.student {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr 1fr;
  align-items: center;
  padding: 6px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.student:hover {
  background-color: #f0f0f0;
}

.student.selected {
  background-color: #004266;
  color: #fff;
}

.edit-grades {
  width: 100%;
  max-width: 1200px;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.grade-input {
  width: 80px;
  height: 40px;
  padding: 0 10px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s;
  text-align: center;
}

.button-send-grades {
  background-color: #004266;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.button-send-grades:hover {
  background-color: #005D8F;
  transform: scale(1.05);
}

.give-grade-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.grade-input-container {
  margin-bottom: 10px;
}

.subject-label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.grade-input {
  width: calc(50% - 16px); /* Ajusta o tamanho para considerar o padding */
  padding: 8px;
  font-size: 14px; /* Reduz o tamanho da fonte */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Garante que o padding não aumente o tamanho total */
}


