.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  }
  
.header {
  padding: 20px;
  width: 100%;
  text-align: center;
  }
  
  /* App.css */

.blackboard {
  width: 90%;
  padding: 20px 20px 50px 20px;
  margin-top: 20px;
  position: relative;
  }
   
.folders {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 30px;
  flex-direction: column;
  }
  
.folder {
  background-color: #004266;
  color: #fff;
  padding: 23px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
  font-size: 2.5vh;
  }

.folder:hover {
  background-color: #005D8F;
  }

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  }
 
button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
  }
 
button:hover span {
  padding-right: 15px;
  }
 
button:hover span:after {
  opacity: 1;
  right: 0;
  }