/* register.css */

.containr {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

select {
  cursor: pointer;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Estilos para o formulário de informações do aluno */
.student-form,
.parent-form {
  width: 50%;
  float: left;
}

/* Estilos para o formulário de informações dos pais */
.parent-form {
  float: right;
}

/* Contêiner para agrupar os formulários de aluno e de pais */
.form-container {
  overflow: hidden; /* Limpa o float dos formulários internos */
}

.teacher-page-button button {
  background-color: #004266; /* Cor de fundo azul escura */
  color: #fff; /* Cor do texto branca */
  border: none; /* Remova a borda */
  padding: 10px 20px; /* Adicione espaçamento interno */
  border-radius: 5px; /* Adicione bordas arredondadas */
  cursor: pointer; /* Altere o cursor ao pairar */
  transition: background-color 0.3s; /* Adicione transição ao pairar */
}

.teacher-page-button button:hover {
  background-color: #00364d; /* Escureça a cor de fundo ao pairar */
}


/* Adicionando regras de mídia para layout responsivo em dispositivos móveis */
@media screen and (max-width: 600px) {
  .student-form,
  .parent-form {
    width: 100%; /* Alterando a largura para 100% para que ocupem toda a largura da tela */
    float: none; /* Removendo o float para que os formulários sejam exibidos em uma lista */
    margin-right: 0; /* Removendo a margem direita */
    margin-left: 0; /* Removendo a margem esquerda */
  }
}
