.app {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    }

/*Lista de estudantes*/

.list-students {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    position: relative;
    right: 25%;
    }

.table-header {
    display: grid;
    grid-template-columns: 3fr 1.5fr 1fr;
    padding: 20px;
    border: none;
    background-color: #004266;
    font-size: 16px;
    border-bottom: #000 2px solid;
    color: #fff;
    justify-items: center;
    }

.container-students {
    display: grid;
    grid-template-columns: 600px;
    margin: 20px;
    border: 2px solid #000;
    border-bottom: none;
    }

.student {
    display: grid;
    grid-template-columns: 3fr 1.5fr 1fr;
    padding: 20px;
    border-bottom: #000 2px solid;  
    background-color: #fff;
    cursor: pointer;
    color: #000;
    border-radius: 0%;
    }

.student:hover {
    background-color: #669BBC;
    }

.student:nth-child(even) {
    background-color: #EBEBEE; 
    }

.student:nth-child(even):hover {
    background-color: #669BBC;   
    } 

/*FIM Lista de estudantes*/

/*Detalhes do estudante*/

.student-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    height: auto;
    position: fixed;
    left: 50%;
    }

.info-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;    
}

.info {
    display: grid;
    grid-template-columns: 300px 300px;;
    max-width: 600px;
    margin-top: 20px;
}

.info div {
    border-bottom: #000 1px solid;
    margin-top: 5px;
}

.info h4 {
    margin-bottom: 10px;
}

.info p {
    margin-bottom: 5px;
}

h2 {
    margin-top: 10px;
}

.student-grades {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px ;
    max-width: 600px;
    border: #000 1px solid;
}

.student-grades div {
    border: #000 1px solid;
    padding: 5px;
}

.student-grades div p {
    margin-top: 5px;
}


/*FIM Detalhes do estudante*/

