/* Geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.list-students > h1 {
    font-size: 24px;
    color: #004266;
}

.info-detail {
    font-size: 24px;
    color: #004266;
}

/* Estrutura principal */
.app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.list-students, .student-info {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 40px); /* Altura disponível após o padding */
    overflow-y: auto;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    height: 590px;
}

/* Lista de estudantes */
.table-header, .student {
    display: grid;
    grid-template-columns: 3fr 1.5fr 1fr;
    align-items: center;
    padding: 15px;
}

.table-header {
    background-color: #004266;
    color: #fff;
    font-weight: bold;
}

.container-students {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.student {
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.student:hover {
    background-color: #f1f1f1;
    transform: scale(1.02);
}

.student:nth-child(even) {
    background-color: #fafafa;
}

.student:nth-child(even):hover {
    background-color: #f1f1f1;
}

/* Detalhes do estudante */
.info-detail, .grades-title {
    text-align: center;
    margin-bottom: 20px;
}

.info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
}

.info div {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.info h4 {
    margin-bottom: 5px;
}

.student-grades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

.student-grades .grade {
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

.student button {
    background-color: #004266;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    margin: 0 20px 20px 50px;
    font-size: 2.5vh;
    cursor: pointer;
    transition: background-color 0.3s;
    }

  .student button:hover {
    background-color: #005D8F;
    transform: scale(1.05);
  }

  .info button {
    background-color: #004266;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    margin: 0 20px 20px 50px;
    font-size: 2.5vh;
    cursor: pointer;
    transition: background-color 0.3s;
    }

  .info button:hover {
    background-color: #005D8F;
    transform: scale(1.05);
  }

  form button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

/* Media Queries */
@media (max-width: 768px) {
    .app {
        flex-direction: column;
        align-items: center;
    }

    .list-students, .student-info {
        width: 90%;
        height: 440px;
    }
}
