* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    max-width: 100%; /* ou um valor específico em pixels, em vw (viewport width) ou em qualquer outra unidade */
    margin: 0 auto; /* centraliza o conteúdo */
    overflow-x: hidden; /* evita a rolagem horizontal */
}

  
  html, body, #root {
    height: 100%;
  }
  .container {
    background-image: url('../../assets/ground.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100vh; /* Usando 100vh para ocupar a altura total da janela do navegador */
    overflow-x: hidden;
}

.menu {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Adicionando overflow-y para rolagem vertical caso o conteúdo seja maior que a altura da janela */
}

  
  .menu-item {
    cursor: pointer;
    padding: 10px 0;
    transition: background-color 0.3s ease;
  }

  .menu-item > button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 10px 10px;
    color: #fff;
  }
  
  .menu-item:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
  }
  
  .menu-item.active {
    background-color: #007bff; /* Cor de fundo do item selecionado */
  }
  
  .menu-item i {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .menu-item span {
    font-size: 16px;
  }
  
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .button {
    display: flex;
    align-items: center;
    padding: 50px 135.5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .button img,
  .button i {
    margin-right: 5px; /* Adiciona um espaço à direita do ícone */
  }
  
  .calendar {
    margin-top: 20px;
  }
  
  .month {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .day {
    padding: 10px;
    border: 1px solid rgb(112, 108, 108);  
    text-align: center;
    height: 40px;
  
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }
  
  .button-container button:active {
    background-color: #004080;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .button:active {
    background-color: #004080;
  }
  
  .day {
    position: relative;
  }
  
  .event-indicator {
    position: absolute;
    top: 2px; /* Ajuste conforme necessário */
    right: 2px; /* Ajuste conforme necessário */
    width: 6px;
    height: 6px;
    background-color: #ff0000; /* Cor do indicador */
    border-radius: 50%; /* Para torná-lo circular */
  }
  
  
  