* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

.container {
  display: flex;
  height: 100%; /* Para que a altura do container acompanhe a altura da página */
}

.menu {
  width: 200px;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.menu-item {
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button {
  display: flex;
  align-items: center;
  padding: 50px 136px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.button img,
.button i {
  margin-right: 5px; /* Adiciona um espaço à direita do ícone */
}

.calendar {
  margin-top: 20px;
}

.month {
  font-size: 24px;
  margin-bottom: 10px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  height: 40px;

}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0056b3;
}

.button-container button:active {
  background-color: #004080;
}

.button:hover {
  background-color: #0056b3;
}

.button:active {
  background-color: #004080;
}

.day {
  position: relative;
}

.event-indicator {
  position: absolute;
  top: 2px; /* Ajuste conforme necessário */
  right: 2px; /* Ajuste conforme necessário */
  width: 6px;
  height: 6px;
  background-color: #ff0000; /* Cor do indicador */
  border-radius: 50%; /* Para torná-lo circular */
}


